In [1]:
S3_Key_id='AKIAQXCR5B4BWJXK4HEH'

S3_Secret_key='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'

S3_file = 'WFIGS_-_Wildland_Fire_Perimeters_Full_History.csv'

In [2]:
import boto3
import pandas as pd
from collections import Counter, defaultdict
import csv

In [3]:
def pull_data(Key_id, Secret_key, file):

    BUCKET_NAME = "gtown-wildfire-ds"
    OBJECT_KEY = file
    
    client = boto3.client(
        's3',
        aws_access_key_id= Key_id,
        aws_secret_access_key= Secret_key)

    obj = client.get_object(Bucket= BUCKET_NAME, Key= OBJECT_KEY) 
    
    file_df = pd.read_csv(obj['Body'])
    
    return (file_df)

data = pull_data(S3_Key_id,S3_Secret_key,S3_file)

/var/folders/fp/yk0vdn2x3czcnj314mr51lzr0000gn/T/ipykernel_17790/1976349208.py:13: DtypeWarning: Columns (40,69,72) have mixed types. Specify dtype option on import or set low_memory=False.
  file_df = pd.read_csv(obj['Body'])

In [4]:
list(data)

['OBJECTID',
 'poly_IncidentName',
 'poly_FeatureCategory',
 'poly_MapMethod',
 'poly_GISAcres',
 'poly_CreateDate',
 'poly_DateCurrent',
 'poly_PolygonDateTime',
 'poly_Acres_AutoCalc',
 'poly_GlobalID',
 'poly_Source',
 'irwin_ABCDMisc',
 'irwin_ADSPermissionState',
 'irwin_CalculatedAcres',
 'irwin_ContainmentDateTime',
 'irwin_ControlDateTime',
 'irwin_DailyAcres',
 'irwin_DiscoveryAcres',
 'irwin_DispatchCenterID',
 'irwin_EstimatedCostToDate',
 'irwin_FFReportApprovedByTitle',
 'irwin_FFReportApprovedByUnit',
 'irwin_FFReportApprovedDate',
 'irwin_FireBehaviorGeneral',
 'irwin_FireBehaviorGeneral1',
 'irwin_FireBehaviorGeneral2',
 'irwin_FireBehaviorGeneral3',
 'irwin_FireCause',
 'irwin_FireCauseGeneral',
 'irwin_FireCauseSpecific',
 'irwin_FireCode',
 'irwin_FireDepartmentID',
 'irwin_FireDiscoveryDateTime',
 'irwin_FireMgmtComplexity',
 'irwin_FireOutDateTime',
 'irwin_FSConfinePercent',
 'irwin_FSFullSuppPercent',
 'irwin_FSMonitorPercent',
 'irwin_FSPointZonePercent',
 'irwin_FSJobCode',
 'irwin_FSOverrideCode',
 'irwin_GACC',
 'irwin_ICS209ReportDateTime',
 'irwin_ICS209RForTimePeriodFrom',
 'irwin_ICS209RForTimePeriodTo',
 'irwin_ICS209ReportStatus',
 'irwin_IncidentManagementOrg',
 'irwin_IncidentName',
 'irwin_IncidentShortDescription',
 'irwin_IncidentTypeCategory',
 'irwin_IncidentTypeKind',
 'irwin_InitialLatitude',
 'irwin_InitialLongitude',
 'irwin_InitialResponseAcres',
 'irwin_InitialResponseDateTime',
 'irwin_IrwinID',
 'irwin_IsFireCauseInvestigated',
 'irwin_IsFireCodeRequested',
 'irwin_IsFSAssisted',
 'irwin_IsMultiJurisdictional',
 'irwin_IsReimbursable',
 'irwin_IsTrespass',
 'irwin_IsUnifiedCommand',
 'irwin_LocalIncidentIdentifier',
 'irwin_PercentContained',
 'irwin_PercentPerToBeContained',
 'irwin_POOCity',
 'irwin_POOCounty',
 'irwin_POODispatchCenterID',
 'irwin_POOFips',
 'irwin_POOJurisdictionalAgency',
 'irwin_POOJurisdictionalUnit',
 'irwin_POOJurisdUnitParentUnit',
 'irwin_POOLandownerCategory',
 'irwin_POOLandownerKind',
 'irwin_POOLegalDescPrinMeridian',
 'irwin_POOLegalDescQtr',
 'irwin_POOLegalDescQtrQtr',
 'irwin_POOLegalDescRange',
 'irwin_POOLegalDescSection',
 'irwin_POOLegalDescTownship',
 'irwin_POOPredServiceAreaID',
 'irwin_POOProtectingAgency',
 'irwin_POOProtectingUnit',
 'irwin_POOState',
 'irwin_PredominantFuelGroup',
 'irwin_PredominantFuelModel',
 'irwin_PrimaryFuelModel',
 'irwin_SecondaryFuelModel',
 'irwin_TotalIncidentPersonnel',
 'irwin_UniqueFireIdentifier',
 'irwin_WFDSSDecisionStatus',
 'irwin_CreatedBySystem',
 'irwin_ModifiedBySystem',
 'irwin_IsDispatchComplete',
 'irwin_OrganizationalAssessment',
 'irwin_StratDecisionPublishDate',
 'irwin_GlobalID',
 'irwin_Source',
 'irwin_ArchivedOn',
 'irwin_ModifiedOnDateTime_dt',
 'irwin_CreatedOnDateTime_dt',
 'GlobalID',
 'irwin_IsCpxChild',
 'irwin_CpxName',
 'irwin_CpxID',
 'SHAPE_Length',
 'SHAPE_Area']

In [5]:
print('null rows')
print(pd.isnull(data['irwin_ICS209ReportDateTime']).sum())

print('not null rows')
print(pd.notnull(data['irwin_ICS209ReportDateTime']).sum())

null rows
7728
not null rows
1577

In [6]:
notnullindex = data[data['irwin_ICS209ReportDateTime'].notnull()].index.tolist()


ics209_df=data.loc[pd.Index(notnullindex)]

ics209_df.shape

(1577, 108)

In [14]:
tuples_zlist = list(zip(ics209_df['irwin_FireDiscoveryDateTime'],ics209_df['irwin_ContainmentDateTime'],ics209_df['irwin_InitialLatitude'], ics209_df['irwin_InitialLongitude'],ics209_df['irwin_CalculatedAcres'],ics209_df['irwin_DailyAcres']))

zlist_df = pd.DataFrame(tuples_zlist, columns = ['Discover_date_time','Containment_Date_Time','Lat','long','Final_Acres','Daily_Acres'])

#pd.isnull(zlist_df['Final_Acres']).sum()
zlist_df['Daily_Acres'].max(0)

963309.0

In [20]:
zlist_df

,Discover_date_time,Containment_Date_Time,Lat,long,Final_Acres,Daily_Acres
0,2020/10/18 19:24:00+00,2020/11/15 23:00:00+00,36.071140,-121.450500,574.4240,574.0
1,2020/10/17 18:01:00+00,2020/11/12 20:29:59+00,40.233900,-111.657700,3381.4416,3496.0
2,2020/08/18 19:04:00+00,NaN,40.142350,-123.059400,51617.4200,51576.7
3,2020/10/18 01:11:00+00,2020/12/17 18:10:00+00,36.270030,-105.327800,10145.9917,10142.0
4,2020/08/30 01:02:00+00,2020/11/14 02:00:00+00,38.642490,-119.527500,26678.8729,26759.0
...,...,...,...,...,...,...
1572,2022/02/15 19:38:40+00,2022/02/16 23:43:15+00,31.750278,-97.756111,NaN,62.0
1573,2022/02/15 19:33:25+00,2022/02/16 20:53:50+00,32.377600,-97.741100,NaN,40.0
1574,2022/02/15 23:27:06+00,2022/02/16 20:16:42+00,27.617205,-98.214340,NaN,480.0
1575,2022/02/16 20:28:45+00,2022/02/17 02:20:32+00,27.841928,-98.009859,NaN,175.0
1576,2022/02/16 20:41:38+00,NaN,37.369355,-118.371813,NaN,4136.0

In [87]:
#index_max_val = zlist_df['Daily_Acres'].idxmax()

zlist_df.iloc[3]

Discover_date_time       2020/10/18 01:11:00+00
Containment_Date_Time    2020/12/17 18:10:00+00
Lat                                    36.27003
long                                  -105.3278
Final_Acres                          10145.9917
Daily_Acres                             10142.0
Name: 3, dtype: object

In [110]:
dateinfo = zlist_df.iloc[4].str.split('/', expand=True)

dateinfo2 = dateinfo.iloc[0].str.split(' ', expand=True)

dateinfo2

      0            1
0  2020         None
1    08         None
2    30  01:02:00+00

In [90]:
year = int(dateinfo2.iloc[0,0])

month1 = int(dateinfo2.iloc[1,0])

day1 = int(dateinfo2.iloc[2,0])

day2 = day1 - 10

print("year",year)
print("month1",month1)
print("day1",day1)
print("day2",day2)

year 2020
month1 12
day1 17
day2 7

In [102]:
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily
import numpy as np

In [114]:


dateinfo = zlist_df.iloc[2].str.split('/', expand=True)

dateinfo2 = dateinfo.iloc[0].str.split(' ', expand=True)


year = int(dateinfo2.iloc[0,0])

month1 = int(dateinfo2.iloc[1,0])

day2 = int(dateinfo2.iloc[2,0])

day1 = day2 - 10

#items_z = zlist_df.iloc[3]

#year1 = zlist_df.iloc[1000,[0,1]].str.split('/', expand=True)
Lat = items_z.Lat
long = items_z.long

print("year",year,"month1",month1,"day2",day2,"day1",day1)
print("Lat",Lat,"long",long)

year 2020 month1 8 day2 18 day1 8
Lat 36.27003 long -105.3278

In [115]:

#############################################

def GetWeather(lat, lon, year, month, day):
    start = datetime(year, month, day)
    end = datetime(year, month, day)
    coord = Point(lat, lon)
    data = Daily(coord, start, end)
    data = data.fetch()
    #print(data)
    #print(data.iloc[0, 0])
    #get a list of results
    counter = list(range(0,10)) #list 0-9
    WeatherData = [] #this list serves as a list for data values [0]tavg, [1]tmin, [2]tmax, [3]prcp, [4]snow, [5]wdir, [6]wspd, [7]wpgt, [8]pres, [9]tsun
    try:
        for i in counter:
            WeatherData.concat(data.iloc[0, i])
    except:
        WeatherData = [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]    
    print(data)
    return(WeatherData)


#############################################



GetWeather(Lat, long, year, month1, day1)

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt  pres  tsun
time
2020-08-08  14.4   3.9  25.1   NaN   NaN  358.0   4.1   NaN   NaN   NaN

FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]